<html>
  <body>
    {% if name %}
    <h1>Hello {{name}}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %} {% if products %}
    <h1>Products:</h1>
    <ul>
      {% for product in products %}
      <li>{% firstof product.title product%}</li>
      {% endfor %}
    </ul>
    {% elif customers %}
    <h1>Customers:</h1>
    <ul>
      {% for customer in customers %}
      <li>{{customer.first_name}} {{customer.last_name}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
